.App {
  color: darkslategray;
  font-family: monospace;
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.link {
  display: block;
  text-decoration: none;
}

.link:visited {
  color: black;
}